#style-switcher h2 a { background: #fff none repeat scroll 0 0 }
#style-switcher h2 a i {color: #e91e63;}
.topcontrol {background: #e91e63 none repeat scroll 0 0;}

.section-title span{background: #e91e63;}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: #e91e63  !important;
}
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.open,
.navbar-light .navbar-nav .open > .nav-link {
  color: #e91e63  !important;
}

.btn-home-bg{background: #e91e63 none repeat scroll 0 0;border: 2px solid #e91e63;}

.icon {color: #e91e63;}

.single-choose i{background: #e91e63 none repeat scroll 0 0;border: 1px solid #e91e63;}
.package-name {background: #e91e63 none repeat scroll 0 0;}
.package-hover {background: #e91e63 none repeat scroll 0 0;}
.post-date i {color: #e91e63;}
.single_discount_dsc h3 a:hover { color: #e91e63 }
.single_discount_dsc a {color: #e91e63;}

.book_now input:hover,
.book_now input:focus {
border-color: currentcolor currentcolor #e91e63;}

.section-blog-title{background: #e91e63 none repeat scroll 0 0;}

.date{color: #e91e63;}
.blog-text a:hover { color: #e91e63 }
.author_part img {border: 4px solid #e91e63;}

.single_comment img {border: 4px solid #e91e63;}

.search input:hover,.search input:focus{border: 1px solid #e91e63;}

.categories ul li a:hover { color: #e91e63 }

.btn-tag-bg:hover,
.btn-tag-bg:focus {
    background: #e91e63;
	border: 1px solid #e91e63;
    color: #fff;
}
.testimonial-content .testimonial-icon{background: #e91e63;}
.testimonial-content .testimonial-icon:before{border-bottom: 16px solid #e91e63;}

.testimonial .post{color: #e91e63;}
.owl-theme .owl-controls .owl-page span {background-color: #e91e63 !important;}


.contact input:hover,
.contact input:focus {
border-color: currentcolor currentcolor #e91e63;
border-style: none none solid;
border-width: 0 0 1px;
    box-shadow: none;
    outline: 0 none;
}
.contact textarea:hover,
.contact textarea:focus {
    border-color: currentcolor currentcolor #e91e63;
}
.contact_address ul li i {
color: #e91e63 ;
}
.btn-contact-bg {
background: #e91e63   none repeat scroll 0 0 !important;
border: 1px solid #e91e63  !important;
}
















